<h1>Add new car</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for @car do |f| %>
        <%= f.input :name %>
        <%= f.input :model %>
        <%= f.input :description %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
